*{
    margin: 0;
    padding: 0;

}

.container {
    width: 960px;
    background-color: aquamarine;
    margin: 0 auto;
    padding: 4px;
}

.fila18{
    width: 300px;
    background-color: chartreuse;
    padding: 5px;
    border: 2px solid crimson;
}

.fila19{
    width: 300px;
    background-color: chartreuse;
    padding: 5px;
    border: 2px solid crimson;
    margin: 0 auto;
}

.subcaja{
    background-color: darkseagreen;
}

.subcaja p{
    background-color: burlywood;
    width: 300px;
    border: 1px solid #00f;
}
.fila20{
    background-color: darkcyan;
    border: 2px solid #fff;
    height: 60px;
    padding: 5px;
}

.c1{
    width: 300px;
    background-color: darksalmon;
    height: 60px;
    float: left;
    border: 1px solid #fff;
}

.c2{
    width: 620px;
    background-color: darksalmon;
    height: 60px;
    float: left;
    margin-left: 15px;
    border: 1px solid #fff;
}

.fila21{
    background-color: darkcyan;
    border: 2px solid #fff;
    height: 60px;
    padding: 5px;
}

.c3{
    width: 30%;
    background-color: darksalmon;
    height: 60px;
    float: left;
    border: 1px solid #fff;
}

.c4{
    width: 65%;
    background-color: darksalmon;
    height: 60px;
    float: left;
    margin-left: 15px;
    border: 1px solid #fff;
}

.fila22{
    background-color: darkcyan;
    border: 2px solid #fff;
    height: 60px;
    padding: 5px;
}

.c5,.c6 {
    background-color: darksalmon;
    height: 60px;
    float: left;
    border: 1px solid #fff;
}

.c5{
    width: 300px;
}

.c6{
    width: 620px;
    margin-left: 15px;
}